.suggestions {
    margin-left: 38px;
    border: 1px solid #f2f2f2;
    padding: 12px;
    border-radius: 5px;

   & a {
       color: black;
   }

   & a:hover {
    text-decoration: none;
    cursor: pointer;
    }
}
.table {
    margin-bottom: 70px;
}

.margin-top-20 {
    margin-top: 20px;
}